apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi
  namespace: default
  labels:
    app.kubernetes.io/name: fastapi
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: fastapi
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: fastapi
    spec:
      # initContainers:
      # Init containers are exactly like regular containers, except:
      # - Init containers always run to completion.
      # - Each init container must complete successfully before the next one starts.
      containers:
        - name: fastapi
          image: whpark70/fastapi
          resources:
            requests:
              cpu: 100m
              memory: 100Mi
            limits:
              cpu: 100m
              memory: 100Mi
          ports:
            - containerPort: 80
              name: fastapi
      restartPolicy: Always
